{% load static %}
<!DOCTYPE html>
<h1 style="color: #010079;
text-shadow: 0 0 5px white;
border-left: solid 7px #010079;
background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);">商品内容確認</h1>
<html lang="ja">
<head>
  <meta charset="utf-8">
<title>furimer</title>
</head>

<body>
<p>
{% if article %}
<h2 style="position: relative;
 background: #dfefff;
 box-shadow: 0px 0px 0px 5px #dfefff;
 border: dashed 2px white;
 padding: 0.2em 0.5em;
 color: #454545;">商品名と説明</h2><label style="color: #000;position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;">商品名</label>{{article.title}}</p>
<label style="color: #000;position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;">商品の説明</label>{{article.detail}}<p></p>
<h2 style="position: relative;
 background: #dfefff;
 box-shadow: 0px 0px 0px 5px #dfefff;
 border: dashed 2px white;
 padding: 0.2em 0.5em;
 color: #454545;">商品の詳細</h2>
  <label style="color: #000;position: relative;
  padding: 0.5em;
  background: #a6d3c8;
  color: white;">カテゴリー</label>{{article.pulldown}}<p></p>
<label style="color: #000;position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;">商品の状態</label>{{article.pulldown1}}<p></p>
<label style="color: #000;position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;">発送料の負担</label>{{article.pulldown2}}<p></p>
<label style="color: #000;position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;">発送の方法</label>{{article.pulldown3}}<p></p>
<label style="color: #000;position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;">発送元の地域</label>{{article.pulldown4}}<p></p>
<label style="color: #000;position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;">発送までの日数</label>{{article.pulldown5}}<p></p>
<label style="color: #000;position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;">商品の値段</label>￥{{article.price}}<p></p>




{% else %}
情報なし
{% endif %}
<a href="{% url 'input' %}">変更する</a>
<button style="text-align:right;" type="submit">出品する</button>

</body>

</html>