{% load static %}
<!DOCTYPE html>
<h1 style="color: #010079;
text-shadow: 0 0 5px white;
border-left: solid 7px #010079;
background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);">商品の内容を入力</h1>
<html lang="ja">

<head>
  <meta charset="utf-8">

  <title>入力画面</title>

</head>

<body>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 style="position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;">画像を選択</h2>
    <input type="file" name="example1">
    





    <h2 style="position: relative;
 background: #dfefff;
 box-shadow: 0px 0px 0px 5px #dfefff;
 border: dashed 2px white;
 padding: 0.2em 0.5em;
 color: #454545;">商品の詳細</h2>
    <label style="color: #000;">カテゴリー</label>
    <select name="pulldown">
      <option value="レディース">レディース</option>
      <option value="メンズ">メンズ</option>
      <option value="子供用品">子供用品</option>
      <option value="おもちゃ">おもちゃ</option>
      <option value="本・音楽・ゲーム">本・音楽・ゲーム</option>
    </select>

    <p></p>


    <label style="color: #000;">商品の状態</label>
    <select name="pulldown1">
      <option value="新品、未使用">新品、未使用</option>
      <option value="未使用に近い">未使用に近い</option>
      <option value="目立った傷や汚れなし">目立った傷や汚れなし</option>
      <option value="傷や汚れあり">傷や汚れあり</option>
      <option value="全体的に傷や汚れなし">全体的に傷や汚れなし</option>
    </select>

    <p></p>


    <h2 style="position: relative;
 background: #dfefff;
 box-shadow: 0px 0px 0px 5px #dfefff;
 border: dashed 2px white;
 padding: 0.2em 0.5em;
 color: #454545;">商品名と説明</h2>
    <input style="border: solid 3px #6091d3;/*線*/
 border-radius: 10px;/*角の丸み*/" type="text" name="title" maxlength="10" value="" placeholder="商品名(必須)">
    <textarea style="border: solid 3px #6091d3;/*線*/
 border-radius: 10px;/*角の丸み*/" name="detail" placeholder="商品の説明（色、素材、重さ、定価、注意点など"></textarea>


    <style>
      textarea {
        width: 100%;
        height: 100px;
        resize: vertical;
      }
    </style>

    <h2 style="position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;">発送について</h2>

    <label style="color: #000;">発送料の負担</label>
    <select name="pulldown2">
      <option value="送料込み(出品者負担)">送料込み(出品者負担)</option>
      <option value="着払い(購入者負担)">着払い(購入者負担)</option>
    </select>

    <p></p>

    <label style="color: #000;">発送の方法</label>
    <select name="pulldown3">
      <option value="未定">未定</option>
      <option value="普通郵便">普通郵便</option>
      <option value="レターパック">レターパック</option>
      <option value="クロネコヤマト">クロネコヤマト</option>
    </select>

    <p></p>

    <label style="color: #000;">発送元の地域</label>
    <select name="pulldown4">
      <option value="北海道">北海道</option>
      <option value="青森県">青森県</option>
      <option value="岩手県">岩手県</option>
      <option value="宮城県">宮城県</option>
      <option value="秋田県">秋田県</option>
      <option value="山形県">山形県</option>
      <option value="福島県">福島県</option>
      <option value="茨城県">茨城県</option>
      <option value="栃木県">栃木県</option>
      <option value="群馬県">群馬県</option>
      <option value="埼玉県">埼玉県</option>
      <option value="千葉県">千葉県</option>
      <option value="東京都">東京都</option>
      <option value="神奈川県">神奈川県</option>
      <option value="新潟県">新潟県</option>
      <option value="富山県">富山県</option>
      <option value="石川県">石川県</option>
      <option value="福井県">福井県</option>
      <option value="山梨県">山梨県</option>
      <option value="長野県">長野県</option>
      <option value="岐阜県">岐阜県</option>
      <option value="静岡県">静岡県</option>
      <option value="愛知県">愛知県</option>
      <option value="三重県">三重県</option>
      <option value="滋賀県">滋賀県</option>
      <option value="京都府">京都府</option>
      <option value="大阪府">大阪府</option>
      <option value="兵庫県">兵庫県</option>
      <option value="奈良県">奈良県</option>
      <option value="和歌山県">和歌山県</option>
      <option value="鳥取県">鳥取県</option>
      <option value="島根県">島根県</option>
      <option value="岡山県">岡山県</option>
      <option value="広島県">広島県</option>
      <option value="山口県">山口県</option>
      <option value="徳島県">徳島県</option>
      <option value="香川県">香川県</option>
      <option value="愛媛県">愛媛県</option>
      <option value="高知県">高知県</option>
      <option value="福岡県">福岡県</option>
      <option value="佐賀県">佐賀県</option>
      <option value="長崎県">長崎県</option>
      <option value="熊本県">熊本県</option>
      <option value="大分県">大分県</option>
      <option value="宮崎県">宮崎県</option>
      <option value="鹿児島県">鹿児島県</option>
      <option value="沖縄県">沖縄県</option>
    </select>

    <p></p>

    <label style="color: #000;">発送までの日数</label>
    <select name="pulldown5">
      <option value="1~2日で発送">1~2日で発送</option>
      <option value="2~3日で発送">2~3日で発送</option>
      <option value="4~7日で発送">4~7日で発送</option>
    </select>

    <h2 style="position: relative;
        background: #dfefff;
        box-shadow: 0px 0px 0px 5px #dfefff;
        border: dashed 2px white;
        padding: 0.2em 0.5em;
        color: #454545;">販売価格(300~9,999,999)</h2>
    <label style="color: #000;">販売価格</label>
    <input type="text" name="price" maxlength="10" value="" placeholder="￥0">

    <p></p>
    <button type="submit">確認画面へ</button>


  </form>


</body>

</html>